
# Copyright 2018-2019 Leland Lucius
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http:#www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[DEFAULT]
#
# Values specified here are defaults and may be overridden in any section
#

#
# SMAPI authentication settings.  The values here will be used for both
# testing hosts, but may be overridden below if unique values are needed
# for each host.
#
# The SMAPI userid must have directory manager authority as well.
#
port = 44444                ; SMAPI TCP/IP port
user = maint                ; SMAPI userid
pass = maint                ; SMAPI password
timeout = 600               ; Time in seconds to wait for an operation to complete
ssl = False                 ; True if SSL should be used
insecure = False            ; True if certificate verification should be bypassed
cert =                      ; Path to SSL certificate

# This prefix is used to create various names for testing, such as:
#   VSWITCH names (like gt$vsw1)
#   USER names (like gt$ping)
#   NAMELIST names (like gt$names)
#   PROFILE names (like gt$prof)
#   PROTOTYPE names (like gt$proto)
#   ...
# It should be limited to A-Z, @, or $ (or what's valid for your ESM).  It
# is used to separate testing elements from real ones.
pfx = gt@                   ; Should be exactly 3 characters

#
# The following users will be created temporarliy during testing and should
# follow your ESM requirements.
#
smapipass = @sm8pi@         ; This password will be used for all created userids
ping = ${pfx}ping           ; Temporary user #1
pong = ${pfx}pong           ; Temporary user #2

#
# The system configuration will be updated during some tests and all changes
# will be removed.  This needs to happen to verify that the values are being
# passed to SMAPI correctly.
#
syscfg_fn = SYSTEM          ; File name of primary system config
syscfg_ft = CONFIG          ; File type of primary system config
syscfg_owner = PMAINT       ; Owner of primary system config
syscfg_mdisk = CF0          ; Minidisk address of primary system config
syscfg_multi = MULTIPLE     ; Minidisk password of primary system config 

altcfg_fn = ALT             ; File name of alternate system config
altcfg_ft = CONFIG          ; File type of alternamte system config
altcfg_owner = PMAINT       ; Owner of alternate system config
altcfg_mdisk = CF0          ; Minidisk address of alternate system config
altcfg_multi = MULTIPLE     ; Minidisk password of alternate system config

#
# IMPORTANT!!!
#
# A DASD volume is required during testing and it's contents will be
# destroyed, so make sure you pick one that doesn't have any valuable
# data.
#
# This volume will be added to the this system as paging volume.  Since
# there is no API to remove the volume once added, you will have to do it
# manually.
#
# IMPORTANT!!!
#
diskaddr = 4000             ; Address of the selected disk
disklabel = LX4000          ; Volser of the selected disk

#
# VMRM configuration information
#
vmrm_fn = vmrm              ; VMRM configuration file name
vmrm_ft = config            ; VMRM configuration file type
vmrm_dir = vmsys:vmrmsvm.   ; SFS directory where configuration file is located

#
# SSI info for any node in the cluster
# (doesn't have to be node 1)
# Most testing is done against this node/host.
#
# All values in the DEFAULT section may be overridden here.
#
[ssi_this]
node = vm1                  ; Name of SSI node
host = vm1                  ; SMAPI host info for this SSI node

#
# SSI info for another node in the cluster
# (doesn't have to be node 2 but must be differnt than ssi_this
# This node/host is only used to VMRELOATE a user back to ssi_this
#
# All values in the DEFAULT section may be overridden here.
#
[ssi_that]
node = vm2                  ; Name of SSI node
host = vm2                  ; SMAPI host info for this SSI node

